#content {
  display: flex;
  justify-content: center;
}

.boards-div {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  margin: 10rem;
}

.cell {
  border: 2px solid black;
  margin: 1px;
  cursor: pointer;
}

.sea {
  color: blue;
}

.hit {
  color: red;
}