#content {
  display: flex;
  justify-content: center;
}

.boards-div {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.cell {
  border: 1px solid black;
}